<div class="container-fluid" ng-init="deity_filter.checked=false;deity='None'">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="character.name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Gender</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="character.gender">
                    <option>Other</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Alignment</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="character.alignment" ng-change="filterDeityListCharacterAlignment()">
                        <option>None</option>
                        <option ng-repeat="alignment in alignments">{{alignment}}</option>
                    </select>
                    </div>
                </div>
                <div ng-show="!deity_filter.checked" class="form-group row">
                    <div class="col-sm-2 col-form-label">Deity</div>
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="deity" ng-change="selectDeity(deity)">
                    <option>None</option>
                    <option ng-repeat="deity in deitys">{{deity.name}}</option></select>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" ng-checked="deity_filter.checked" ng-model="deity_filter.checked" ng-change="filterDeityListCharacterAlignment(character.alignment)">
                            <label class="form-check-label">
                        Filter Alignment
                    </label>
                        </div>
                    </div>
                </div>

                <div ng-show="deity_filter.checked" class="form-group row">
                    <div class="col-sm-2 col-form-label">Filtered Deity</div>
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="deity" ng-change="filterDeityListCharacterAlignment(character.alignment);selectDeity(deity)" ng-model=" character.deity ">
                    <option>None</option>
                    <option  ng-repeat="deityx in filterdListOfDeity ">{{deityx.name}}</option></select>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="form-check ">
                            <input class="form-check-input " id="gridCheck1 " type="checkbox " ng-checked="deity_filter.checked " ng-model="deity_filter.checked " ng-change="filterDeityListCharacterAlignment(character.alignment) ">
                            <label for="gridCheck1 " class="form-check-label ">
                        Filter Alignment
                    </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-8 ">
            <div class="card " ng-show="character.deity.name && character.deity.name !='None' ">
                <div class="card-header ">
                    {{character.deity.name}}
                </div>
                <div class="card-body ">
                    <p class="card-text ">
                        <td>{{character.deity.shortDescription}}</td>
                        <div class="row">
                            <label class="col-sm-2">Alignment</label>
                            <div class="col-sm-10 ">
                                {{character.deity.alignment}}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2">Cleric Alignments</label>
                            <div class="col-sm-10 ">
                                <span ng-repeat="p in character.deity.alignments ">{{p}}, </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2">Portfolio</label>
                            <div class="col-sm-10 ">
                                <span ng-repeat="p in character.deity.portfolio ">{{p}}, </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2">Worshipers</label>
                            <div class="col-sm-10 ">
                                <span ng-repeat="p in character.deity.worshipers ">{{p}}, </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2">Domains</label>
                            <div class="col-sm-10 ">
                                <span ng-repeat="p in character.deity.domains ">{{p}}, </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2">Subdomains</label>
                            <div class="col-sm-10 ">
                                <span ng-repeat="p in character.deity.subdomains ">{{p}}, </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2">Favourite Weapon</label>
                            <div class="col-sm-10 ">
                                {{character.deity.favouredWeapon}}
                            </div>
                        </div>
                        <div class="row ">
                            <label class="col-sm-2">Source</label>
                            <div class="col-sm-10 ">
                                {{character.deity.source}}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
