<html>

<table class="table-striped table-bordered">
    <tr>
        <td>Class</td>
        <td>Level</td>
        <td>MaxHP</td>
        <td>Base Attack Bonus</td>
        <td>Fortitude Save</td>
        <td>Reflex Save</td>
        <td>Will Save</td>
        <td>Action</td>
    </tr>
    <tr ng-repeat="class in character.classes">
        <td>{{class.name}}</td>
        <td>{{class.level}}</td>
        <td>{{calculateClassMaxHp(class)}}</td>
        <td>{{getClassProgression('bab',class)}}</td>
        <td>{{getClassProgression('fortitudeSave',class)}}</td>
        <td>{{getClassProgression('reflexSave',class)}}</td>
        <td>{{getClassProgression('willSave',class)}}</td>
        <td><input type="button" ng-click="removeLevel(class.name)" value="-"></td>
    </tr>
    <tr>
        <td>Total</td>
        <td>{{getTotal('level')}}</td>
        <td>{{calculateTotalClassMaxHp()}}</td>
        <td>{{getTotalProgession("bab")}}</td>
        <td>{{getTotalProgession("fortitudeSave")}}</td>
        <td>{{getTotalProgession("reflexSave")}}</td>
        <td>{{getTotalProgession("willSave")}}</td>
    </tr>
</table>
<select ng-model="selectedClass_" ng-change="selectClass(selectedClass_)">
        <option ng-repeat="class in classes">{{class.name}}</option>
    </select>
<input type="button" ng-click="addLevel(selectedClass_)" value="+">

<table ng-show="selectedClass_ != null">
    <tr>
        <td>{{selectedClass.name}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{selectedClass.description}}</td>
    </tr>
    <tr>
        <td>Role</td>
        <td>{{selectedClass.role}}</td>
    </tr>
    <tr>
        <td>HitDie</td>
        <td>{{selectedClass.hitDie}}</td>
    </tr>
</table>

</html>
