<html>

<div class="container-fluid">

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Customize Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <select ng-model="customizeAction" ng-init="customizeAction='Change Material'">
                                <option>Change Size</option>
                                <option>Change Material</option>
                                <option>Make Masterwork</option>
                                <option>Make Magical</option>
                                <option>Make Composite</option>
                                
                                <option>Add Abilities</option>
                            </select>
                        </div>
                    </div>

                    <div ng-show="customizeAction == 'Change Size'">
                        <select ng-model="selectedSize" ng-init="selectedSize='Medium'">
                            <option>Tiny</option>
                            <option>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                            <option>Huge</option>
                            <option>Gargantuan</option>
                            <option>Colossal</option>
                        </select>
                        <tr>New Item Cost:</tr>
                        <tr>{{getNewItemPrice(selectedItem,"Change Size",selectedSize)}}</tr>
                        <tr>New Item Weight:</tr>
                        <tr>{{getSizeChangeWeight(selectedItem,selectedSize)}}</tr>
                    </div>

                    <div ng-show="customizeAction == 'Change Material'">
                        <select ng-model="selectedMaterial" ng-init="selectedMaterial='Darkwood'">
                            <option ng-repeat="material in materials">{{material.name}}</option>
                        </select>
                        <tr>New Item Cost:</tr>
                        <tr>{{getNewItemPrice(selectedItem,"Change Material",selectedMaterial)}}</tr>
                    </div>

                    <div ng-show="customizeAction == 'Make Masterwork'">

                        <tr>New Item Cost:</tr>
                        <tr>{{getNewItemPrice(selectedItem,"Masterwork")}}</tr>

                    </div>

                    <div ng-show="customizeAction == 'Make Composite'">
                        <tr>Strength Rating</tr>
                        <select ng-model="strengthRating" ng-init="strengthRating='0'">
                            <option ng-repeat="strength in [0,1,2,3,4,5]">{{strength}}</option>
                        </select>
                        <br>
                        <tr>New Item Cost:</tr>
                        <tr>{{getNewItemPrice(selectedItem,"Composite",strengthRating)}}</tr>

                    </div>

                    <div ng-show="customizeAction == 'Make Magical'">
                        <tr>Enhancement Bonus</tr>
                        <select ng-init="enhancementBonus='1'" ng-model="enhancementBonus">
                            <option ng-repeat="enhancement in [1,2,3,4,5]">{{enhancement}}</option>
                        </select>
                        <br>
                        <tr>New Item Cost:</tr>
                        <tr>{{getNewItemPrice(selectedItem,"Magical",enhancementBonus)}}</tr>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-show="customizeAction == 'Change Size'" ng-click="createCustomItem(selectedItem,'Change Size',selectedSize)" data-dismiss="modal" type="button" class="btn btn-primary">Change Material</button>
                    <button ng-show="customizeAction == 'Change Material'" ng-click="createCustomItem(selectedItem,'Change Material',selectedMaterial)" data-dismiss="modal" type="button" class="btn btn-primary">Change Material</button>
                    <button ng-show="customizeAction == 'Make Masterwork' && qualifiesForMasterwork(selectedItem)" ng-click="createCustomItem(selectedItem,'Masterwork')" data-dismiss="modal" type="button" class="btn btn-primary">Craft Masterwork</button>
                    <button ng-show="customizeAction == 'Make Composite' && qualifiesForComposite(selectedItem)" ng-click="createCustomItem(selectedItem,'Composite',strengthRating)" data-dismiss="modal" type="button" class="btn btn-primary">Craft Composite</button>
                    <button ng-show="customizeAction == 'Make Magical' && qualifiesForMagical(selectedItem)" ng-click="createCustomItem(selectedItem,'Magical',enhancementBonus)" data-dismiss="modal" type="button" class="btn btn-primary">Craft Magical</button>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div ng-show="selectedItem" class="table-responsive col-sm-12">
        <br>
        <table class="table table-condensed table-striped table-bordered table-hover table-fixed">
            <tr>
                <td>Name</td>
                <td ng-show="selectedItem.attributes.size">Size</td>
                <td>Type</td>
                <td ng-show="selectedItem.type == 'Armor' || selectedItem.type == 'Shield' || selectedItem.type == 'Weapon'">Proficiency</td>
                <td ng-show="selectedItem.type == 'Weapon'">Subtype</td>
                <td ng-show="selectedItem.type == 'Magic Item'">Slot</td>
                <td>Weight</td>
                <td>Price</td>
                <td ng-show="selectedItem.type == 'Alchemical Creations'">Craft DC</td>
                <td ng-show="selectedItem.type == 'Armor'">Armor Bonus</td>
                <td ng-show="selectedItem.type == 'Armor' || selectedItem.type == 'Shield'">Maximum Dex Bonus</td>
                <td ng-show="selectedItem.type == 'Armor' || selectedItem.type == 'Shield'">Armor Check Penalty</td>
                <td ng-show="selectedItem.type == 'Armor' || selectedItem.type == 'Shield'">Arcana Spell Failure</td>
                <td ng-show="selectedItem.type == 'Armor'">30ft.</td>
                <td ng-show="selectedItem.type == 'Armor'">20ft.</td>

                <td ng-show="selectedItem.type == 'Weapon'">Dmg(S)</td>
                <td ng-show="selectedItem.type == 'Weapon'">Dmg(M)</td>
                <td ng-show="selectedItem.type == 'Weapon'">Critical</td>
                <td ng-show="selectedItem.type == 'Weapon'">Range</td>
                <td ng-show="selectedItem.type == 'Weapon'">Types</td>
                <td ng-show="selectedItem.type == 'Weapon'">Special</td>

                <td ng-show="selectedItem.type == 'Shield'">Shield Bonus</td>

                <td>Source</td>
            </tr>
            <tr>
                <td>{{selectedItem.displayName}}</td>
                <td ng-show="selectedItem.attributes.size">{{selectedItem.attributes.size}}</td>
                <td>{{selectedItem.type}}</td>
                <td ng-show="selectedItem.type == 'Armor' || selectedItem.type == 'Shield' || selectedItem.type == 'Weapon'">{{selectedItem.attributes["proficiency"]}}</td>
                <td ng-show="selectedItem.type == 'Weapon'">{{selectedItem.attributes.subtype}}</td>
                <td ng-show="selectedItem.type == 'Magic Item'">{{selectedItem.attributes.slot}}</td>
                <td>{{selectedItem.weight}}</td>
                <td>{{selectedItem.price}}</td>
                <td ng-show="selectedItem.type == 'Alchemical Creations'">{{selectedItem.attributes["Craft DC"]}}</td>
                <td ng-show="selectedItem.type == 'Armor'">{{selectedItem.attributes.armorBonus}}</td>
                <td ng-show="selectedItem.type == 'Armor' || selectedItem.type == 'Shield'">{{selectedItem.attributes.maximumDexBonus}}</td>
                <td ng-show="selectedItem.type == 'Armor' || selectedItem.type == 'Shield'">{{selectedItem.attributes.armorCheckPenalty}}</td>
                <td ng-show="selectedItem.type == 'Armor' || selectedItem.type == 'Shield'">{{selectedItem.attributes.arcaneSpellFailure}}</td>
                <td ng-show="selectedItem.type == 'Armor'">{{selectedItem.attributes.speed["30"]}}</td>
                <td ng-show="selectedItem.type == 'Armor'">{{selectedItem.attributes.speed["20"]}}</td>

                <td ng-show="selectedItem.type == 'Weapon'">{{selectedItem.attributes.damage["small"]["die"]}}d{{selectedItem.attributes.damage["small"]["eyes"]}}</td>
                <td ng-show="selectedItem.type == 'Weapon'">{{selectedItem.attributes.damage["medium"]["die"]}}d{{selectedItem.attributes.damage["medium"]["eyes"]}}</td>
                <td ng-show="selectedItem.type == 'Weapon'">x{{selectedItem.attributes.criticalMultiplier}}/{{20-selectedItem.attributes.criticalRange}}</td>
                <td ng-show="selectedItem.type == 'Weapon'">{{selectedItem.attributes.range}}</td>
                <td ng-show="selectedItem.type == 'Weapon'">Types</td>
                <td ng-show="selectedItem.type == 'Weapon'">Special</td>

                <td ng-show="selectedItem.type == 'Shield'">{{selectedItem.attributes.shieldBonus}}</td>

                <td>{{selectedItem.source}}</td>
            </tr>
        </table>

        {{selectedItem.description}}
        <br><br>
        <input ng-disabled="selectedItem.price > character.funds" type="button" value="Buy" ng-click="buySelectedItem()">
        <input type="button" data-toggle="modal" data-target="#exampleModal" value="Customize" ng-click="">
        <br><br>
    </div>

    <div class="row">
        <div class="table-responsive col-sm-6">
            <div class="table-responsive row-sm-2">
                <div ng-show="true">
                    <table style="display: inline-block;">
                        <tr>
                            <td>Funds:</td>
                            <td><input ng-model="character.funds" type="number"></td>
                            <tr>
                                <tr>
                                    <td>Value:</td>
                                    <td><input ng-model="character.value" type="text" ng-disabled="true"></td>
                                </tr>
                                <tr>
                                    <td>Weight:</td>
                                    <td><input ng-model="character.weight" type="text" ng-disabled="true"></td>
                                </tr>
                    </table>

                    <table style="display: inline-block;">
                        <tr>
                            <td>Light Load:</td>
                            <td><input ng-model-options="{ getterSetter: true }" ng-model="lightLoad" type="text" ng-disabled="true"></td>
                        </tr>
                        <tr>
                            <td>Medium Load:</td>
                            <td><input ng-model-options="{ getterSetter: true }" ng-model="mediumLoad" type="text" ng-disabled="true"></td>
                        </tr>
                        <tr>
                            <td>Heavy Load:</td>
                            <td><input ng-model-options="{ getterSetter: true }" ng-model="heavyLoad" type="text" ng-disabled="true"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="table-responsive row-sm-10">
                <h1>Store</h1>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..." ng-model="searchTerm">
                        </div>
                    </div>
                </form>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a ng-click="activeTable=weapons;" class="nav-link active" data-toggle="tab">Weapons</a>
                    </li>
                    <li class="nav-item">
                        <a ng-click="activeTable=armor;" class="nav-link" data-toggle="tab">Armor</a>
                    </li>
                    <li class="nav-item">
                        <a ng-click="activeTable=shields;" class="nav-link" data-toggle="tab">Shields</a>
                    </li>
                    <li class="nav-item">
                        <a ng-click="activeTable=goods;" class="nav-link" data-toggle="tab">Goods</a>
                    </li>
                    <li class="nav-item">
                        <a ng-click="activeTable=magicItems;" class="nav-link" data-toggle="tab">Magic Items</a>
                    </li>
                </ul>
                <table ng-init="activeTable=weapons;" class="table table-striped header-fixed table-bordered table-hover">
                    <thead style="display:table; width:100%; table-layout:fixed;">
                        <tr>
                            <td ng-click="sortType= 'displayName';sortReverse = !sortReverse;">Name
                                <span ng-show=" sortType=='displayName' && !sortReverse" class="fa fa-caret-up"></span>
                                <span ng-show=" sortType=='displayName' && sortReverse" class="fa fa-caret-down"></span></td>
                            <td ng-click="sortType='price';sortReverse = !sortReverse; ">Price
                                <span ng-show=" sortType=='price' && !sortReverse" class="fa fa-caret-up"></span>
                                <span ng-show=" sortType=='price' && sortReverse" class="fa fa-caret-down"></span>
                            </td>
                            <td ng-click="sortType='weight';sortReverse = !sortReverse; ">Weight
                                <span ng-show=" sortType=='weight' && !sortReverse" class="fa fa-caret-up"></span>
                                <span ng-show=" sortType=='weight' && sortReverse" class="fa fa-caret-down"></span>
                            </td>
                            <td ng-click="sortType='type';sortReverse = !sortReverse; ">Type
                                <span ng-show=" sortType=='type' && !sortReverse" class="fa fa-caret-up"></span>
                                <span ng-show=" sortType=='type' && sortReverse" class="fa fa-caret-down"></span>
                            </td>
                        </tr>
                    </thead>
                    <tbody style="display:block; max-height:500px; overflow-y:scroll; ">
                        <tr style="display:table; width:100%; table-layout:fixed; " class="clickable-row " ng-click="selectItem(item) " ng-repeat="item in getObjectAsArray(activeTable) track by item.displayName| orderBy:sortType:sortReverse | filter:searchTerm">
                            <td>{{item.displayName}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.weight}}</td>
                            <td>{{item.type}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-responsive col-sm-6 ">
            <div class="table-responsive row-sm-2 ">
                <div class="radio-inline">
                    <label><input type="radio" ng-model="purchaseMode.value " value="creation " name="buyMode ">Character Creation</label>
                </div>
                <div class="radio-inline">
                    <label><input type="radio" ng-model="purchaseMode.value " value="buy_sell " name="buyMode ">Buy/Sell</label>
                </div>
                <div class="radio-inline">
                    <label><input type="radio" ng-model="purchaseMode.value " value="crafting " name="buyMode ">Crafting</label>
                </div>
            </div>
            <div class="table-responsive row-sm-10 ">
                <h1 ng-init="showInventory=true ">Inventory</h1>
                <ul class="nav nav-tabs" role="tablist">
                    <li ng-click="showInventory=true" class="nav-item">
                        <a class="nav-link active" data-toggle="tab">Inventory</a>
                    </li>
                    <li ng-click="showInventory=false" class="nav-item">
                        <a class="nav-link" data-toggle="tab">Equipped</a>
                    </li>
                </ul>
                <div ng-show="showInventory==true">
                    <table class="table table-condensed table-striped table-bordered table-hover table-fixed ">
                        <tr>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Weight</td>
                            <td>Type</td>
                            <td>Action</td>
                        </tr>
                        <tr ng-click="selectItem(item)" class="clickable-row" ng-repeat="item in inventory track by $index">
                            <td>{{item.displayName}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.weight}}</td>
                            <td>{{item.type}}</td>
                            <td>
                                <input type="button" ng-click="sellItemFromInventory(item,$index)" value="Sell">
                                <input type="button" ng-show="item.equipable" ng-disabled="hasSlotFromInventory(item)" ng-click="equipItemFromInventory(item,$index)" value="Equip">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-show="showInventory==false">
                <table class="table table-condensed table-striped table-bordered table-hover">
                    <tr>
                        <td>Slot</td>
                        <td>Name</td>
                        <td>Type</td>
                        <td>Price</td>
                        <td>Weight</td>
                        <td>Action</td>
                    </tr>
                    <tr ng-repeat="(slot,item) in equipedItems ">
                        <td>{{slot}}</td>
                        <td ng-click="selectItem(item) ">{{item.displayName}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.weight}}</td>
                        <td><input ng-disabled="!item.displayName " ng-click="unequipItemFromSlot(slot) " type="button" value="Unequip "></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</html>
